<nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Jobie</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link navbar-text" href="/">Home</a>
          <a class="nav-link navbar-text" href="/applications">All Applications</a>
          <a class="nav-link navbar-text" href="/applications/new">Add Application</a>
          <%// if(currentUser) {%> 
          <a class="nav-link navbar-text" href="/stats">User Statistics</a>
          <% //} %> 
        </div>
        <div class="navbar-nav ms-auto">
          <%// if(!currentUser) {%> 
          <a class="nav-link navbar-text" href="/login">Login</a>
          <a class="nav-link navbar-text" href="/register">Register</a>
          <%// } else {%> 
          <a class="nav-link navbar-text" href="/logout">Logout</a>
          <%// } %> 
        </div>
      </div>
    </div>
  </nav>