<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <h1> All Applications </h1>
    <div>
        <a href="/applications/new">Add New Application</a>
    </div>
    <ul>
        <% for (let application of applications) {%>
            <li> <a href="/applications/<%=application._id%>"><%=application.companyName%></a> </li> 
        <% } %> 
    </ul>
</body>
</html>